
@{
    ViewData["Title"] = "Home";
}
    <main>
        <div class="hero">
            <h2>Welcome to Your Utility Management</h2>
            <p>Effortlessly manage your water and electricity bills.</p>
            <a href="/Login" class="btn">Get Started</a>
        </div>
    </main>